.menu {
  background: rgb(247, 172, 172);
  flex: 0 0 80px;
  height: 100%;
}

.link {
  color: black;
  text-decoration: none;
  margin: 10px;
}

.link_active {
  color: rgb(203, 236, 13);
  text-decoration: underline;
}
